@font-face {
  font-family: 'Archiform';  
  src: url(../fonts/Arciform.otf);  
  font-weight: normal;  
}

:root {
  --title-font: 'Archiform', sans-serif;
  --text-font: 'Lato', sans-serif;
  --dark-green: #32CCBC;
  --light-green: #90F7EC;
  --text-grey: #404245;
  --main-gradient: linear-gradient(45deg, #32CCBC, #90F7EC);
  --body-bg: linear-gradient(45deg, #EEF1F6, #FCFDFD);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

h2 {
  font-family: var(--title-font);
  font-size: 40px;
  margin-bottom: 50px;
}

.left-deco {
  position: absolute;
  left: 0;
  top: 0;
}

.right-deco {
  position: absolute;
  right: -100px;
  bottom: 0;
}

/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
HEADER ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

header {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}

.main-logo {
  font-family: var(--title-font);
  color: var(--dark-green) !important;
  font-size: 24px;
  line-height: 24px;
}

header .logo-wrapper {
  display: flex;
  align-items: center;
}

.header-navigation {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.header-navigation ul {
  padding:0;
  margin:0;
  display: flex;
  justify-content: space-between;
  width: 40%;
  list-style-type: none;
}

.header-navigation ul li {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 200;
  color: #000;
}

.header-navigation ul a:hover {
  text-decoration: none;
}

.header-navigation ul a {
  display: flex;
  align-items: center;
}

.header-navigation ul li:hover {
  color: var(--dark-green);
}

.header-navigation ul .main-logo li {
  font-family: var(--title-font);
  font-size: 20px;
  margin-right: 20px;
}

.header-large-image-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 65px 0;
}

.header-large-image-wrapper img {
  width: 100%;
  height: 600px;
}

.home-header-text-wrapper {
  padding: 0 100px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header-text-wrapper h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
}

.home-header-text-wrapper h3 {
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 100;
  font-family: var(--text-font);
}

.sign-input-wrapper {
  position: relative;
}

.sign-input-wrapper input:focus {
  outline: 0;
  border: 2px solid var(--dark-green);
}

.sign-input-wrapper input {
  border: 2px solid transparent;
  width: 100%;
  position: relative;
  padding: 20px 15px;
  line-height: 20px;
  box-shadow: 0 2px 2px 0 rgba(95, 95, 95, 0.12), 0 1px 5px 0 rgba(95, 95, 95, 0.12), 0 3px 1px -2px rgba(95, 95, 95, 0.12);
  border-radius: 360px;
  font-weight: 200;
  font-size: 13px;
}

.logo-wrapper img {
  width: 40px;
  margin-right: 15px;
}

.sign-input-wrapper button {
  position: absolute;
  right: 10px;
  top: 12px;
  border: 0;
  outline: 0;
  background-color: var(--dark-green);
  color: #fff;
  border-radius: 360px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-weight: 200;
  justify-content: center;
  font-size: 14px;
  height: 40px;
}

.sign-input-wrapper button img {
  margin-left: 10px;
}


.sign-input-wrapper button.sending {
  animation-name: sendingInfo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.sign-input-wrapper button.send {
  animation-name: sendInfo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.sign-input-wrapper button.error {
  animation-name: sendError;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
FEATURES ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

.features-wrapper {
  padding: 100px 10%;
  display: flex;
}

.feature-item-wrapper {
  width: 33%;
  padding: 0 3%;
}

.feature-item {
  border-top: 3px solid var(--dark-green);
  min-height: 305px;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(95, 95, 95, 0.12), 0 1px 5px 0 rgba(95, 95, 95, 0.12), 0 3px 1px -2px rgba(95, 95, 95, 0.12);
}

.feature-item p {
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  padding-right: 45px;
  margin-bottom: 0;
}


/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
COMO FUNCIONA ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

.how-works-wrapper {
  padding: 0px 14%;
  position: relative;
}

.step-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
}

.step-text-wrapper {
  width: 60%;
  padding-right: 15%;
}

.step-image-wrapper.panel img {
  width: 350px;
}

.step-text-wrapper.right {
  padding-left: 10%;
  padding-right: 0;
}

.step-text-wrapper h3 {
  
}

.step-text-wrapper p {
  font-weight: 100;
  line-height: 24px;
}

.steps-image-wrapper {
  width: 40%
}

/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
TESTIMONIALS ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

.testimonials-wrapper {
  padding: 0px 14%;
  position: relative;
}

.carousel {
  margin: 125px 0;
}

.carousel-indicators li {
  background-color: var(--dark-green);
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: var(--dark-green);
  opacity: 1;
}

.carousel-item {
  min-height: 350px;
}

.carousel-item p {
  font-weight: 100;
  line-height: 24px;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}

.carousel-item {
  text-align: center;
}

.carousel-item h3 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 800;
}

.carousel-item h3 span {
  font-style: italic;
}

.carousel-item h4 {
  font-size: 22px;
  font-weight: 500;
}

.carousel-item img {
  width: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
SIGN ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

.sign-row-wrapper {
  padding: 0px 14% 100px;
  position: relative;
}

.sign-row-wrapper .content-wrapper {
  width: 70%;
}

.sign-row-wrapper .content-wrapper p {
  font-weight: 100;
  font-weight: 14px;
  line-height: 22px;
  margin-bottom: 50px;
}

/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
SIGN ROW
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/ 

footer {
  background: var(--dark-green);
  color: #fff;
  padding: 35px 14%;
}

footer h2 {
  font-family: var(--title-font);
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}


/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
MEDIA QUERIES
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

@media only screen and (max-width: 800px) {
  
  header {
    flex-direction: column;
  }

  .header-navigation {
    padding: 25px;
    flex-direction: column;
  }

  .header-navigation ul {
    width: 100%;
    flex-wrap: wrap;
  }

  .header-navigation .main-logo {
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
  }
  
  .header-navigation .main-logo {
    font-size: 30px;
  }

  .home-header-text-wrapper {
    width: 100%;
    margin-top: 50px;
    padding: 0 25px;
    order: 2;
  }

  .carousel-item p {
    width: 100%;
  }

  .carousel-item {
    min-height: 400px;
  }

  .step-wrapper {
      flex-direction: column;
  }

  .header-large-image-wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }

  .header-large-image-wrapper img {
    width: 100%;
    height: 275px;
  }

  .home-header-text-wrapper h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }

  .sign-input-wrapper input {
    padding: 18px 15px;
    line-height: 18px;
    font-size: 14px;
  }

  .sign-input-wrapper button {
    top: 8px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .home-header-text-wrapper h1 {
    font-size: 28px;
  }

  .features-wrapper {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .feature-item {
    padding: 20px;
    min-height: 200px;
  }

  .feature-item-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  .feature-item p {
    padding-right: 30px;
  }

  .how-works-wrapper, .testimonials-wrapper {
    padding: 0px 15%;
  }

  .left-deco {
    width: 50px;
  }

  .right-deco {
    width: 80px;
    right: 0;
  }

  .step-text-wrapper, .step-text-wrapper.right {
    width: 100%;
    padding: 0;
    order: 2;
  }

  .step-image-wrapper img {
    width: 280px;
    margin-bottom: 40px;
  }

  .step-image-wrapper:nth-child(1) img {
    width: 180px;
  }

  .step-wrapper {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.185);
  }
  .sign-row-wrapper .content-wrapper {
    width: 100%;
  }

  h2 {
    margin-bottom: 80px;
  }
}



/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
ANIMATIONS
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*/

@keyframes sendingInfo {
  0%   {
    height: 40px;
    top: 12px;
    width: 108px;
  }
  100% {
    height: 64px;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: #FFa816;
  }
}

@keyframes sendInfo {
  0%   {
    height: 64px;
    top: 0px;
    right: 0px;
    width: 100%;
  }
  100% {
    height: 64px;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--dark-green);
  }
}

@keyframes sendError {
  0%   {
    height: 64px;
    top: 0px;
    right: 0px;
    width: 100%;
  }
  100% {
    height: 64px;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: #FF8377;
  }
}